<h3>Best Selling Product</h3>
  <div class="row"  *ngIf="page1" >          
    <div  class="col-md-3 col-xs-12"   *ngFor="let img of Bestsellpro">      
    <div  class="col-lg-3"              (click)="viewproductrow(img)"
      style="-ms-flex: 100%; flex:52%;  max-width: 100%; "  >
      <!-- (click)="viewproductrow(img)" -->
      <div  class="img" style="width:50%;  height:100px;" >  
         <img  src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"   alt="Img" 
          style="width:100%; margin-top: 8px;  vertical-align: middle; padding: 0 4px; 
          height:100%;
          object-fit:cover;">  
      </div>
      <br>
       <div class="body">
         <span style="text-decoration-line: line-through;" *ngIf="img.has_discount==true">{{img.stroked_price}}</span> <h6 class="title" style="color: red;" >{{img.main_price}}</h6>
        <p class="title" >{{img.name}}</p>
      
      </div>
    </div>
    </div>
    
  </div>

  <div class="row" *ngIf="page2"  style="margin-left: 10px;" >
          
    <div  class="col-xs-12"  >      
    <div  class="col-lg-8"              
      style="-ms-flex: 100%; flex: 52%;  max-width: 100%;  padding: 0 4px;">
      
      <div  class="img" style="width:50%;  height:100%;" >
    
         <img  src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"    alt="Img" 
          style="width:100%; margin-top: 8px;  vertical-align: middle; padding: 0 4px; 
          height:100%;
          object-fit:cover; " >  
      </div>
      <br>

       <div class="body">
        <h3 class="title" style="color: red;" >{{Peoduct.main_price}}</h3>
        <h5 class="title" >{{Peoduct.name}}</h5>

        <h6 style="color: red;"> {{varprise}} </h6>
        <p *ngFor="let a of choice"> <span style="color: rgb(224, 21, 89);">{{a.title}} </span> <span *ngFor="let b of a.options" (click)="selectvar(b)">{{b }}</span></p>
        <p>(availabe={{Peoduct.current_stock}})</p>
        
        <select class="sel" (change)="firstDropDownChanged($event)">
            <option *ngFor='let v of _values1'>{{ v }}</option>
          </select> <button (click)="addtocart(Peoduct.id)"> Add to cart</button>
      <p>{{Peoduct.description}}</p>
      </div>
    </div>
    </div>
    
  </div>