<nav class="navbar navbar-expand-lg main-navbar sticky" style="background-color: #fefeff;" >
    <div class="form-inline mr-auto" >  
      <ul class="navbar-nav mr-3"  >
        <li>
          <a routerLink="/profile" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>profile
            </a>
      </li>
        <li>
          <a routerLink="/orders" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>Orders
            </a>
      </li>
     
      <li>
        <a routerLink="/wallet" class="dropdown-item has-icon"> <i class="fa
            fa-user"></i>wallet
          </a>
    </li>
        <li>
          <a routerLink="/address" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>Address
            </a>
      </li>
        <li>
          <a routerLink="/cart" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>cart
            </a>
      </li>
      <li>
        <a routerLink="/wishlist" class="dropdown-item has-icon"> <i class="fa
            fa-user"></i>Wishlist
          </a>
    </li>
    <li>
      <a routerLink="/feedbacks" class="dropdown-item has-icon"> <i class="fa
          fa-user"></i>feedbacks
        </a>
  </li>
  <li>
    <a routerLink="/convertation" class="dropdown-item has-icon"> <i class="fa
        fa-user"></i>convertation
      </a>
</li>
        <li>
            <a routerLink="/login" class="dropdown-item has-icon"> <i class="fa
                fa-user"></i>|  Login
          </a>
        </li>
        <li>
            <a routerLink="/Signup" class="dropdown-item has-icon"> <i class="fa
                fa-user"></i>Register
              </a>
        </li>
  
      </ul>
    </div>
    <ul class="navbar-nav navbar-right">
      
      <li ngbDropdown><a ngbDropdownToggle data-toggle="dropdown"
          class="nav-link dropdown-toggle nav-link-lg nav-link-user">
         <span
            class="d-sm-none d-lg-inline-block"></span></a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right pullDown">
          <!-- <div class="dropdown-title">Hello Sarah..</div>
          <a routerLink="/profile" class="dropdown-item has-icon"> <i class="fa
                fa-user"></i>Login
          </a>
          <a routerLink="/profile" class="dropdown-item has-icon"> <i class="fa
            fa-user"></i>Register
          </a> -->
<!--           
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0);" class="dropdown-item has-icon text-danger"> <i
              class="fas fa-sign-out-alt"></i>
            Logout
          </a> -->
        </div>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-expand-lg main-navbar sticky" style="background-color: #fefeff;">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav">
          <li>
            <a routerLink="/banner" class="dropdown-item has-icon"> <i class="fa
                fa-user"></i>Home
          </a>
        </li>
        <!-- <li>
          <a routerLink="/featuredproduct" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>featured
        </a>
      </li> -->
            <li>
                <a routerLink="/allbrands" class="dropdown-item has-icon"> <i class="fa
                    fa-user"></i>All Brands
              </a>
            </li>
            <li>
                <a routerLink="/Recipe" class="dropdown-item has-icon"> <i class="fa
                    fa-user"></i>Recipe
                  </a>
            </li>
            <li>
              <a routerLink="/allcategory" class="dropdown-item has-icon"> <i class="fa
                  fa-user"></i>All Category
                </a>
          </li>
          <li>
            <a routerLink="/shopbyproduct" class="dropdown-item has-icon"> <i class="fa
                fa-user"></i>Shop by product
              </a>
        </li>
        <li>
          <a routerLink="/searchproduct" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i>searchproduct
            </a>
      </li>
      <li>
        <a routerLink="/sellershop" class="dropdown-item has-icon"> <i class="fa
            fa-user"></i>sellershop
          </a>
    </li>
      
          </ul>
    </div>

  </nav>

  
  

  