<div class="row"   style="background-color: rgb(240, 9, 20);">   
    <div  class="col-lg-2" >

    </div>
<div  class="col-lg-8" style="background-color: antiquewhite; margin-top: 5px;margin-bottom: 5px; margin-left: 20px;">      
<div  class="col-lg-8" style="-ms-flex: 100%; flex: 52%;  max-width: 100%;  padding: 0 ;">

<div  class="img" style="width:10em;  height:100px;" > 
    <p class="title" > <span>Balance = </span><span> <h4> {{Wallet?.balance}} </h4></span></p>  
</div>

</div>
<div class="body">
  <p class="title" ><span>Last recharge = </span>{{Wallet?.last_recharged}}</p>
</div>
</div>
<div  class="col-lg-2" >
</div>
</div>


<div class="row"  >
<h5>Wallet recharge history</h5>
    <div class="col-md-6 col-xs-12" *ngFor="let img of History">
      <div class="col-lg-4" style="-ms-flex: 100%; flex: 52%;  max-width: 100%;  padding: 0 4px; border-style: solid;
      border-color: rgb(44, 55, 63);">
        <br>      
         <div class="body">
          <h3 class="title" >{{img.id}}</h3>
        
        </div>

      </div>
    </div>
  
  </div>