<p>topbrands works!</p>
<!-- 
<div class="row"   >
          
    <div  class="col-md-4 col-xs-12"   *ngFor="let img of Topbrands">      
    <div  class="col-lg-4"              
      style="-ms-flex: 100%; flex: 32%;  max-width: 100%;  padding: 0 4px;">
      
      <div  class="img" style="width:100%;  height:200px;" >
         <img  [src]="img.newsimage"  alt="Img" 
          style="width:100%; margin-top: 8px;  vertical-align: middle; padding: 0 4px; 
          height:100%;
          object-fit:cover; " >
      </div>
      <br> -->

       <!-- <div class="body">
        <h5 class="title" >{{img.newstitle}}</h5>
       <p class="des" >{{img.newsdescription}}</p> 
       <ul style="list-style-type: none; margin: o; padding: 0; overflow: hidden; ">
        <li style="float: right;" ><span  data-toggle="tooltip" data-tooltip="{{img.views}}" ><button class="btn btn-tbl-delete h-auto">
          <i  class="fa fa-eye"></i>
        </button></span></li>
         <li style="float:right;" ><span> <button class="btn btn-tbl-edit h-auto" (click)='editRow(img, rowIndex, editRecord)'>
          <i class="fas fa-pen"></i>
        </button></span></li>
         <li style="float: right;" ><span><button class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(img)'>
          <i class="far fa-trash-alt"></i>
        </button></span></li>
       </ul>
      </div> -->
    <!-- </div>
    </div>
    
  </div> -->