
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">
          <div class="col-md-2">
            <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
          </div>
<div class="col-8" >
<form class="validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(otpRecord)">
    <h3>log-in</h3>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group position-relative">
          <label>email </label>
          <input type="text" class="form-control " formControlName="username" >        
        </div>
         </div>
         <br>
         <div class="col-lg-12">
        <div class="form-group position-relative">
          <label>Password </label>  
          <input type="password" class="form-control" formControlName="password"
           >
          
        </div>
      </div>  
     <br>

      <div class="col-lg-12 mb-0">
        <button class="btn btn-primary auth-form-btn" >Sign in</button>
      </div>
      <!-- <div class="col-lg-12 mt-4 text-center">
        <h6>Or Login With</h6>
        <ul class="lis" >
          <li ><a href="javascript:void(0)" class="lii" style="display: inline;">
             <h6>google</h6>
            </a></li>
          <li ><a href="javascript:void(0)" class="lii" style="display: inline;">
             <h6>facebook</h6>
            </a></li>
         
        </ul>
      </div> -->
       <div class="col-12 text-center">
        <p class="forgot-pass mb-0" (click)="loginotp(loginotpRequest)">login with otp</p> &nbsp;
      </div>
     
      <div class="col-12 text-center">
        <p class="forgot-pass mb-0"><a routerLink="/forgot"
            class="text-dark fw-bold">Forgot password ?</a></p> &nbsp;
        <p class="mb-0 mt-3"><small class="text-dark msr-2">Don't have an account ?</small> <a
            routerLink="/Signup" class="text-dark fw-bold">Sign Up</a></p>
      </div>
      <br>
      </div>
  </form></div>
  <div class="col-md-2">
    <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
  </div>

  <ng-template #otpRecord let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title">
            <div class="table-modal-header">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 font-17">
                        Waiting For Otp</div>
                </div>
            </div>
        </h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button> -->
    </div>
     <div class="modal-body">
          <form class="register-form" [formGroup]="otpform" (ngSubmit)="onAddRowSave(otpform)">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <label>Verification Code<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="otp" formControlName="otp" required>
                 <!-- <small class="form-text text-danger"
                  *ngIf="!otpform.get('phone').valid && otpform.get('otp').touched"> Otp is
                  required</small>  -->
              </div>                      
            </div>
        
            <!-- <div *ngIf="error1" class="alert alert-danger mb-3 ml-3">{{error1}}</div> -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Verify</button>
              
              <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
            </div>
          </form>
          <button  class="btn btn-success"  (click)="resend()">Resend</button>
        </div> 
</ng-template>

<ng-template #loginotpRequest let-modal>
  <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
          <div class="table-modal-header">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-10 font-17">
                     login with otp</div>
              </div>
          </div>
      </h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button> -->
  </div>
   <div class="modal-body">
        <form class="register-form" [formGroup]="loginotpform" (ngSubmit)="requestloginotp(loginotpform,loginotpverify)">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <label>Mobile<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="enter your registered mob" formControlName="phone" required>
            </div>                      
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">send otp</button>
          </div>
        </form>
        <!-- <button  class="btn btn-success"  (click)="resend()">Resend</button> -->
      </div> 
</ng-template>

<ng-template #loginotpverify let-modal>
  <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
          <div class="table-modal-header">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-10 font-17">
                    enter otp</div>
              </div>
          </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
  </div>
   <div class="modal-body">
        <form class="register-form" [formGroup]="loginverifyform" (ngSubmit)="verifyloginotp(loginverifyform)">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <label>otp<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="enter your registered mob" formControlName="otp_code" required>
            </div>                      
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">login </button>
          </div>
        </form>
        <!-- <button  class="btn btn-success"  (click)="resend()">Resend</button> -->
      </div> 
</ng-template>

</div>
</div>
</div>
</main>
